.create-quiz{
    display: flex;
    
}
.create-quiz-container .complete-btn {
    margin-left: 0rem;
    background: white;
    color: #5825E9;
    display: block;
    margin-top: 1rem !important;
    margin-bottom: 1rem;
}
.create-quiz-container .complete-btn:hover {
    background-color: #5825E9;
    color: white;
    transition: 0.3s;
}
.create-quiz-container input {
    width: 20rem;
    margin-bottom: 20px;
    margin-left: 0px !important;
}
.create-quiz-container .options {
    width: 170px;
    margin-left: 0px;
}
.create-quiz-container .option-add-btn {
  
    background: white;
    color: #5825E9;
    margin-top: 22px !important;
    
}
.create-quiz-container .option-add-btn:hover {
    background: #5825E9;
    color: white;
    transition: 0.3s;
}
.create-quiz-container h2 {
    margin-top: 25px !important;
   
}
.create-quiz-container p{
  margin-left: 1.6rem;

}
.option-container {
    display: flex;
    align-items: center;
}